<div class="bot_main">
    <ul>
        <li class="ico_1"><span class="ico"><img src="/votes/201702111532302186.png"></span><span
                class="txt">首页</span></li>

        <li class="ico_2"><span class="ico"><img src="/votes/201702111533027343.png"></span><span
                class="txt">排名</span></li>

        <li class="ico_4"><span class="ico"><img src="/votes/201702111533530780.png"></span><span
                class="txt">说明</span></li>

    </ul>
</div>