

<div class="text_a clearfix" id="sort" style=" padding-left:0 1% 0 1%;">
    <a href="/vote" class="<%= (tab == 1 ? 'active': '')%>">最新参赛</a>
    <a href="/vote/vote-rank" class="<%= (tab == 2 ? 'active': '')%>">助力排行</a>
    <a href="/vote/vote-rank-list" class="<%= (tab == 3 ? 'active': '')%>">名次预览</a>
</div>
