<div class="search" style="background: #FFFFFF;">
    <form action="/vote/search" id="search_form" method="post">
        <input type="hidden" name="formhash" value="">
        <input type="hidden" name="id" value="5865">
        <div class="search_con">
            <div class="btn"><input type="submit" name="seachid" id="searchBtn" value="搜索"></div>
            <div class="text_box"><input type="search" id="searchText" value="" name="keyword" placeholder="搜名字或编号"
                    autocomplete="off" border="0"></div>
        </div>
    </form>
</div>