
<style>
    .vote-rule {
        min-height: 50px;
    }
</style>

<section class="content" style="background: #FFFFFF;">

    <div class="blank15"></div>
    <div class="vote-rule">
      
    </div>
    <div class="pagination pagination-centered"></div>
</section>