
    <section class="content" style="background: #FFFFFF;">
        <%- include('partials/rank_preview',{tab:1}); %>
        <div class="blank15"></div>
        <div id="pageCon" class="match_page masonry" style="padding-bottom: 50px;text-align:center;">
            <%- include('partials/votes_list', {votesList}); %>
            <div id="PageContent" class="default" style="margin-top:20px;"></div>

        </div>
        <div class="pagination pagination-centered"></div>
    </section>

